html, body {
  margin: 0;
  height: 100%;
}
main {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ADD8E6;
}
.answer_section {
	background-color: white;
	color: black;
	flex: 1;
	border: 1px solid black;
}
#outer_div {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 70%;
	width: 70%;
	background-color: black;
}
