html, body {
  margin: 0;
  height: 100dvh;
  overflow: hidden;
}
main {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ADD8E6;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}
.answer_section {
	background-color: white;
	color: black;
	flex: 1;
	border: 1px solid black;
	display: flex;
    justify-content: center;
    align-items: center;
	font-size: 35px;
}
#outer_div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 70%;
	width: 70%;
	background-color: black;
	box-sizing: border-box;
}
#instructions {
	font-size: 35px;
	text-align: center;
}
#disclaimer {
	font-size: 30px;
	text-align: center;
}
header, footer {
	text-align: center;
	font-weight: bold;
}
