html, body {
  margin: 0;
}
body {
	display: flex;
	justify-content: space-around;
}
#main {
	background-color: blue;
	height: 100%;
	width: 100%;
}
.answer_section {
	background-color: white;
	color: black;
	flex: 1;
	border: 1px solid black;
}
#outer_div {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 70%;
	width: 70%;
	background-color: black;
	padding: 25px;
}
