html, body {
  height: 100%;
  margin: 0;
}
body {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
}
#main {
	height: 100%;
	width: 100%;
}
.answer_section {
	flex: 1;
	border: 1px solid black;
}
