html, body {
  height: 100%;
  margin: 0;
}
body {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
}
#main {
	background-color: blue;
	height: 100%;
	width: 100%;
}
.answer_section {
	background-color: white;
	text-color: black;
	flex: 1;
	border: 1px solid black;
}
#outer_div {
	display: flex;
	justify-content: space-between;
	height: 70%;
	width: 70%;
	background-color: black;
}
