html, body {
  margin: 0;
  height: 100vh;
}
main {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ADD8E6;
	height: 100vh;
	width: 100vw;
}
.answer_section {
	background-color: white;
	color: black;
	flex: 1;
	border: 1px solid black;
	display: flex;
    justify-content: center;
    align-items: center;
	font: 35px;
}
#outer_div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 70%;
	width: 70%;
	background-color: black;
	box-sizing: border-box;
}
