body {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
}
header {
	background-color: green;
}
main {
	background-color: yellow;
	color: orange;
}
footer {
	color: red;
	background-color: green;
}
